h3{
	text-align: center;
	font-family: cursive;
	text-decoration: underline;
	color: green;
	font-size: 40px	;
}

body{
	background-color: #d1df11;
	color: grey;
}

div{
	color: blue;
	text-decoration: underline;
	text-align: center;
	font-size: 30PX;
}
